doctype html
html
  head
    title= title
    script(
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
    crossorigin="anonymous")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://unpkg.com/vue@next")
    script(src="https://unpkg.com/vuex")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block modal
